* {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-color: #1e3d6d;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  top:0%;
  background-color: #08618a;
  
}
nav img {
  width: 60px;
  
}
.nav-links {
  flex: 1;
  text-align: center;
  
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
  
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 100%;
  color: rgb(245, 245, 245);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/*------projects----*/
.projects {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 0px;
}
.projects h1 {
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 0, 13);
}

.projects a {
  font-size: 40px;
  font-weight: 300;
  margin: 0px;
  padding-top: 0px;
  text-decoration: none;
  color: #fafafa;
}

.projects div {
  height: 100px;
  padding-top: 50px;
  background: rgb(122, 231, 245);
  background-image: linear-gradient(rgba(62, 146, 255, 0.7), rgba(4, 9, 30, 0.7));
  background-size: cover;
}

.row {
  background: rgb(54, 216, 39);
}

/*.dragline {
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/image032.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.trike {
  background: rgb(252, 125, 125);
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/part\ pic2.jpg);
  background-position: right;
  background-size: contain;
}

.bend {
  background: rgb(122, 231, 245);
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/image032.jpg);
  background-size: cover;
}

.relativity {
  background: rgb(122, 231, 245);
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/image032.jpg);
  background-size: cover;
}
.quantum {
  background: rgb(122, 231, 245);
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/image032.jpg);
  background-size: cover;
}
.field {
  background: rgb(122, 231, 245);
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/image032.jpg);
  background-size: cover;
}
.relativity {
  background: rgb(122, 231, 245);
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/image032.jpg);
  background-size: cover;
}
*/
.projects div {
 
}

.more {
  background-image: linear-gradient(rgba(99, 9, 32, 0.7), rgba(4, 9, 30, 0.7));
  height: 100px;
}

/*---contact*/

.contact {
  width: 100%;
  
  color: #fafafa;
  background-color: rgb(23, 25, 27);
  text-align: center;
  padding-top: 10px;
  
}

.contact h2{
  text-decoration:underline;
}

.info  {
  padding: 5%;
  display: inline;
  text-align: center;
}

.contact h2 {
  padding: 10px;
}

.contact img {
  padding: 10px;
  max-height: 35px;
}

.arthead {

  text-align: center;
  padding-top: 60px;
  margin-bottom : 20px ;
  height: 100px;
  color: #fafafa;
  background: #243546;
}

.subt{
  margin: 5px;
  margin-top:50px;
  margin-left : 100px;
  margin-right: 100px;
}
.textpara {
  text-align: justify;
  text-indent: 20px;
  margin-left : 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}
.datestamp {
  font-style: italic;
  font-size: smaller;
  margin-left: 100px;
}

.artimg{
  display: flex;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  border: rgb(2, 0, 0) 0px solid;
  padding: 0px;
  margin-top: 10px;
}
